apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Define o namespace para todos os recursos
namespace: uniselec-admin-prd

resources:
- ../../base
- namespace.yaml

patches:
- path: patch-deployment.yaml
- path: patch-ingress.yaml
- path: patch-hpa.yaml

# MERGE com valores específicos de PRODUCTION
configMapGenerator:
  - name: uniselec-admin-config
    behavior: merge
    options:
      disableNameSuffixHash: true
    literals:
      - LOG_LEVEL="error"
      - VITE_API_URL=https://uniselec-api.unilab.edu.br
      - VITE_STAGING_SALT=PaEWqRH3Ih7GeK7pgXKu2g==
      - VITE_STAGING_HASH=s2ApJnkTNItZm5e3U8nZbXmIedzf2ud/lZ024sqMQOk=
      - MESSAGE="Serviço Admin Production"

images:
- name: dti-registro.unilab.edu.br/unilab/uniselec-admin
  newTag: v1.0.2
