apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Define o namespace para todos os recursos
namespace: uniselec-admin-prd

resources:
- ../../base
- namespace.yaml

patches:
- path: patch-deployment.yaml
- path: patch-ingress.yaml
- path: patch-hpa.yaml

configMapGenerator:
- behavior: merge
  literals:
  - MESSAGE=Serviço Seleções - Admin Production
  - LOG_LEVEL=info
  - VITE_API_URL=https://uniselec-api.unilab.edu.br
  - VITE_API_BASE_URL=https://uniselec-api.unilab.edu.br/api
  name: uniselec-admin-config

images:
- name: dti-registro.unilab.edu.br/unilab/uniselec-admin
  newTag: v1.0.2
